.buttonContainer {
    background-color: white;
    border-radius: 100px;
    width: 100px;
    margin: 20px 6%;
    padding: 1px 10px;
}

.buttonTitle {
    font-family: 'Advent Pro', serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
}