.title {
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
    text-align: left;
    font-size: 3rem;
    margin: 3rem 2rem;
    max-width: 50%;
}

.homePageContainer {
    overflow: hidden; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.textContainer {
    flex: 1; 
}

.text {
    font-family: 'Libre Bodoni', serif;
    text-align: left;
    font-size: 1.4rem;
    margin: 3rem 2rem;
    max-width: 50%;
}

.imageContainer {
    position: fixed; 
    right: -120px; 
    top: 60%;
    transform: translateY(-50%);
    z-index: 1000; 
}

.whaleImage {
    width: 100%; 
    max-width: 400px;
    transform: rotateY(15deg) rotateX(5deg) translateY(20px);
}

