.title {
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
    text-align: left;
    font-size: 3rem;
    margin: 3rem 2rem;
    max-width: 50%;
}

.text {
    font-family: 'Libre Bodoni', serif;
    text-align: left;
    font-size: 1.4rem;
    margin: 3rem 2rem;
    max-width: 50%;
}
